@charset "utf-8";

$my-dark-grey: hsl(0, 0%, 29%) !default;
$my-dark-grey-invert: #fff !default;

$primary: $my-dark-grey !default;
$primary-invert: $my-dark-grey-invert !default;
// $body-background-color: $my-dark-grey !default;

@import "./node_modules/bulma/bulma.sass";

